<div class="modal fade" id="modifyModal{{id}}" role="dialog" style="color : black;">
	<div class="modal-dialog">
      	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h2 class="modal-title text-center">Modifier un utilisateur</h2>
	        </div>
	        {{ form_start(form, {'attr': {'style' : 'color:black;', 'novalidate' : 'novalidate', 'class' : 'form-register','action': path('modify')}}) }}
	        <div class="modal-body modify">
	        	
				{{ form_label(form.gender, "Civilité ") }}
				{{ form_widget(form.gender,{value : gender ? '1':'0'} ) }}

				{{ form_label(form.first_name, "Prenom ") }}
				{{ form_widget(form.first_name, {'attr': {'data-validation' : 'alphanumeric', 'value' : firstName}} ) }}

				{{ form_label(form.name, "Nom ") }}
				{{ form_widget(form.name, {'attr': {'data-validation' : 'alphanumeric', 'value' : name}} ) }}

				{{ form_label(form.address, "Adresse ") }}
				{{ form_widget(form.address,{value : address} ) }}

				{{ form_label(form.city, "Ville ") }}
				{{ form_widget(form.city, {'attr': {'data-validation' : 'alphanumeric', 'value' : city}} ) }}

				{{ form_label(form.zipcode, "Code Postal ") }}
				{{ form_widget(form.zipcode, {'attr': {'data-validation' : 'number length', 'data-validation-length' : '5', 'value' : zipcode}} ) }}

				{{ form_label(form.birthDate, "Date de naissance ") }}
				{{ form_widget(form.birthDate, {'attr': {'class' : 'form-register-birth'}} ) }}

				{{ form_label(form.email, "Email") }}
				{{ form_widget(form.email, {'attr': {'style' : 'margin-bottom:10px;', 'data-validation' : 'email', 'value' : email}} ) }}

				{{ form_label(form.device, "Quel est votre support de prédilection ?") }}
				{{ form_widget(form.device, {value : device ? '1':'0'} ) }}

				{{ form_label(form.status, "Statut de l'inscription") }}
				{{ form_widget(form.status) }}

				{{ form_label(form.visited, "Avez vous déjà participé à un de nos précédents salon ? ") }}
				{{ form_widget(form.visited, {value : visited ? '1':'0'} ) }}

	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	          	{{ form_widget(form.save, {'attr': {'class' : 'btn btn-success'}} ) }}
				{{ form_end(form) }}
	        </div>
	    </div>
    </div>
</div>