{% extends "AdminBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} - Pannel Admin{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row" style="background-color: black;">
			<div class="col-lg-offset-4 col-lg-4">
				<img class="img-responsive center-block" src="{{ asset('images/logo.png') }}" alt="logo" style="padding: 10px;min-width: 317px;height: 164px;">
			</div>
			<div class="col-lg-offset-2 col-lg-2" style="margin-top: 50px;">
				<h2><a class="admin" href="{{ path('logout') }}">Déconnexion</a></h2>
			</div>
		</div>
	</div>
	<div class="container" style="color: black;">
		<h1 class="text-center" style="text-transform: initial;">Liste des utilisateurs</h1>
		<div id="toolbar">
    	</div>
		<table 
			data-toggle="table"
			data-toolbar="#toolbar"
			data-search="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-minimum-count-columns="2"
            data-pagination="true"
            data-id-field="id"
            data-sort-name="date"
  			data-sort-order="asc"
		>
		    <thead>
		        <tr>
		            <th>Id</th>
		            <th>Prénom</th>
		            <th>Nom</th>
		            <th>Code Postal</th>
		            <th>Date de naissance</th>
		            <th>Email</th>
		            <th 
		            	data-field="date" 
        				data-sortable="true">
        				Date d'inscription
        			</th>
		            <th>Statut</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    	{% for user in users %}
				    <tr>
				    	<td>{{ user.id }}</td>
				    	<td>{{ user.firstName }}</td>
				    	<td>{{ user.name }}</td>
				    	<td>{{ user.zipcode }}</td>
				    	<td>{{ user.birthDate.date|date('d-m-Y') }}</td>
				    	<td>{{ user.email }}</td>
				    	<td>{{ user.date.date|date('d-m-Y') }}</td>
				    	<td>{{ user.status }}</td>
				    	<td>
				    		<a data-toggle="modal" data-title="Modifier" data-target="#modifyModal{{ user.id }}">
            					<i class="glyphicon glyphicon-pencil"></i>
            				</a>
            				{{ render(controller('AdminBundle:Default:modify', {'id': user.id , 'gender' : user.gender, 'firstName' : user.firstName, 'name' : user.name, 'zipcode' : user.zipcode, 'birthDate' : user.birthDate.date, 'email' : user.email, 'date' : user.date.date, 'status' : user.status, 'device' : user.device, 'visited' : user.visited})) }}
            				<a href="{{ path('delete', {'id' : user.id}) }}" title="Supprimer" onclick="ask_delete(event)">
            					<i class="glyphicon glyphicon-remove"></i>
            				</a>
            			</td>

				    </tr>
				    <script type="text/javascript">
					    function ask_delete(event){
					        event.preventDefault();
					        swal({
					          title: "Supprimer ?",
					          text: "Etes-vous sûr de vouloir supprimer cet utilisateur ?",
					          type: "warning",
					          showCancelButton: true,
					          confirmButtonColor: "#DD6B55",
					          confirmButtonText: "Oui !",
					          closeOnConfirm: false
					        },
					        function(){
					          swal("Deleted!", "L'utilisateur a été supprimé", "success");
							  window.location.href = '{{ path('delete', {'id' : user.id}) }}';
        					});

					    }
					</script>
				{% endfor %}
		    </tbody>
		</table>
	</div>
{% endblock %}