{% extends "AppBundle::layout_admin.html.twig" %}

{% block title %}{{ parent() }} - Pannel Admin{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row" style="background-color: black;">
			<div class="col-lg-offset-4 col-lg-4">
				<img class="img-responsive center-block" src="{{ asset('images/logo.png') }}" alt="logo" style="padding: 10px;min-width: 317px;height: 164px;">
			</div>
			<div class="col-lg-offset-2 col-lg-2" style="margin-top: 50px;">
				<h2><a class="admin" href="{{ path('logout') }}">Déconnexion</a></h2>
			</div>
		</div>
	</div>
	<div class="container" style="color: black;">
		<h1 class="text-center" style="text-transform: initial;">Liste des utilisateurs</h1>
		<div id="toolbar">
	        <button id="remove" class="btn btn-danger" disabled>
	            <i class="glyphicon glyphicon-remove"></i> Delete
	        </button>
    	</div>
		<table 
			data-toggle="table"
			data-toolbar="#toolbar"
			data-search="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-minimum-count-columns="2"
            data-pagination="true"
            data-id-field="id"
		>
		    <thead>
		        <tr>
		            <th>Id</th>
		            <th>Prénom</th>
		            <th>Nom</th>
		            <th>Code Postal</th>
		            <th>Date de naissance</th>
		            <th>Email</th>
		            <th>Date d'inscription</th>
		            <th>Statut</th>
		            <th>Supprimé</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    	{% for user in users %}
				    <tr>
				    	<td>{{ user.id }}</td>
				    	<td>{{ user.firstName }}</td>
				    	<td>{{ user.name }}</td>
				    	<td>{{ user.zipcode }}</td>
				    	<td>{{ user.birthDate.date }}</td>
				    	<td>{{ user.email }}</td>
				    	<td>{{ user.date.date }}</td>
				    	<td>{{ user.status }}</td>
				    	<td>{{ user.deleted }}</td>
				    	<td>
				    		<a data-toggle="modal" href="#modifyModal" title="Modifier">
            				<i class="glyphicon glyphicon-pencil"></i>
            				<a data-toggle="modal" href="#deleteModal" title="Supprimer">
            				<i class="glyphicon glyphicon-remove"></i>
            			</td>
				    </tr>
				{% endfor %}
		    </tbody>
		</table>
	</div>
	<div class="modal fade" id="modifyModal" role="dialog" style="color : black;">
    	<div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h2 class="modal-title text-center">Modifier un utilisateur</h2>
		        </div>
		        <div class="modal-body">
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		    </div>
	    </div>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog" style="color : black;">
    	<div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h2 class="modal-title text-center">Supprimer un utilisateur</h2>
		        </div>
		        <div class="modal-body">
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		    </div>
	    </div>
    </div>
{% endblock %}