{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
		<!-- <div class="alert alert-success alert-dismissible">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  	<div><strong>Félicitations, </strong>votre inscription a été prise en compte.</div>
		</div> -->
  <header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-youtube"></i></a>
					</div>
				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="public">
		                	<img class="image-responsive" src="{{ asset ('images/logo_web.png') }}">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">                 
		                    <li class="scroll active"><a href="#home">Home</a></li>
		                    <li class="scroll"><a href="#about">A propos</a></li>                     
		                    <li class="scroll"><a href="#contact">S'inscrire</a></li>       
		                </ul>
		            </div>
		        </div>
	        </div>
        </div>                    
    </header>
    <!--/#header--> 

    <section id="home">	
		<div id="main-slider" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#main-slider" data-slide-to="0" class="active"></li>
				<li data-target="#main-slider" data-slide-to="1"></li>
				<li data-target="#main-slider" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img class="img-responsive" src="{{ asset ('images/slider/bg1_new.jpg') }}" alt="slider">						
					<div class="carousel-caption">
						<h2>Plus de 80 stands !</h2>
						<h4>Parc des expositions de Villepintes</h4>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="{{ asset ('images/slider/bg2_new.jpg') }}" alt="slider">	
					<div class="carousel-caption">
						<h2>Finales de l'ESWC</h2>
						<h4>Sur la grande scène, plus de 1500 places</h4>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="{{ asset ('images/slider/bg3_new.jpg') }}" alt="slider">	
					<div class="carousel-caption">
						<h2>Des invités d'exceptions</h2>
						<h4>Testez les dernières nouveautés en avant-première</h4>
					</div>
				</div>				
			</div>
		</div>    	
    </section>
	<!--/#home-->

	<section id="explore">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-2 col-sm-5">
					<h2>L'évènement commence dans </h2>
				</div>				
				<div class="col-sm-7 col-md-6">					
					<ul id="countdown">
						<li>					
							<span class="days time-font">00</span>
							<p>Jours</p>
						</li>
						<li>
							<span class="hours time-font">00</span>
							<p class="">Heures </p>
						</li>
						<li>
							<span class="minutes time-font">00</span>
							<p class="">Minutes</p>
						</li>
						<li>
							<span class="seconds time-font">00</span>
							<p class="">Secondes</p>
						</li>				
					</ul>
				</div>
			</div>
		</div>
	</section><!--/#explore-->

	<section id="about">
		<div class="row">
			<div class=" about-content col-sm-12 col-md-6">					
				<h2>La Gamer Fest 2017 !</h2>
				<p>Du 28 Octobre au 1er Novembre prochain venez assister au plus grand salon vidéoludique de la fin d'année. 
					Situé dans le parc des expositions de Paris Nord Villepinte, profité de 65 000 m² entièrement dédiés à votre passion.
					Venez à la rencontre de nos invités d'exceptions, de nombreux influenceurs de la scène e-sportive, youtube et twitch.
					Testez en avant-première les jeux prochain jeux des plus grands studio comme Ubisoft ou Bethesda.
					Assistez aux finales de l'ESWC en direct sur la grande scène avec plus de 1500 places.
				</p>
			</div>
			<span class="about-content col-sm-12 col-md-6">
				<img class="img-responsive" src="{{asset ('images/schedule.jpg') }}" alt="">
			</span>
		</div>
	</section><!--/#about-->

	<section id="event">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Nos sponsors</h2>
						<a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
						<a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
						<div class="carousel-inner">
							<div class="item active">
								<div class="row">
									<div class="col-sm-4">
										<div class="single-event">
											<img class="img-responsive" src="{{ asset ('images/sponsor/samsung.png') }}" alt="">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="single-event">
											<img class="img-responsive" src="{{ asset ('images/sponsor/mlg.png') }}" alt="">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="single-event">
											<img class="img-responsive" src="{{ asset ('images/sponsor/asus.png') }}" alt="" style="padding-top: 11px;">
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="row">
									<div class="col-sm-4">
										<div class="single-event">
											<img class="img-responsive" src="{{ asset ('images/sponsor/eswc.png') }}" alt="">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="single-event">
											<img class="img-responsive" src="{{ asset ('images/sponsor/alienware.png') }}" alt="" style="padding-top: 13px;">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="single-event">
											<img class="img-responsive" src="{{ asset ('images/sponsor/twitch.png') }}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</section><!--/#event-->
	
	<section id="sponsor">
		<div id="sponsor-carousel" class="carousel slide" data-interval="false">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2>Les principaux participants...</h2>
						<div class="carousel-inner">
							<div class="item active">
								<ul>
									<li><img class="img-responsive" src="{{ asset ('images/sponsor/sponsor1.png') }}" alt="" style="max-width: 220px;"></a></li>
									<li><img class="img-responsive" src="{{asset ('images/bethesda.png') }}" alt="" style="max-width: 220px;"></a></li>
									<li><img class="img-responsive" src="{{asset ('images/sony.png') }}" alt="" style="max-width: 220px;"></a></li>
									<li><img class="img-responsive" src="{{asset ('images/nintendo.png') }}" alt="" style="max-width: 220px; padding-bottom: 44px;"></a></li>
									<li><img class="img-responsive" src="{{asset ('images/riot.png') }}" alt="" style="max-width: 220px;"></a></li>
									<li><img class="img-responsive" src="{{asset ('images/blizzard.png') }}" alt="" style="max-width: 220px;"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</section><!--/#sponsor-->

	<section id="contact">
		<div id="map">
			<div id="gmap-wrap">
	 			<div id="gmap">
	 				<h2>Inscrivez-vous pour recevoir des <strong>goodies exclusifs</strong > à votre arrivée</h2>
	 				<a href="{{ path('register') }}">
	 					<div class="link-register center-block">S'inscrire</div>	
	 				</a>
	 			</div>	 			
	    	</div>
		</div><!--/#map-->
		<div class="contact-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-4">
						<div class="contact-text">
							
						</div>
						<div class="contact-address">
							
						</div>
					</div>
					<div class="col-sm-5">
						<div id="contact-section">
							
  						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>
    <!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="text-center">
           		©GamerFest 2008 - 2016               
            </div>
        </div>
    </footer>
    <!--/#footer-->
   
{% endblock %}